<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Wellcome to Battleship</title>
  </head>
  <body>
    <h1>Wellcome to Battleship</h1>
    <a href="http://localhost:9000/about">Go to the about Site</a><br><br>
    <a href="http://localhost:9000/battleship">Go to the Batlleship Game (console output)</a><br><br>
    <a href="http://localhost:9000/battleship">Go to the Batlleship HTML Game (HTML output)</a><br><br>
    <a href="http://localhost:9000">Go to the index Site</a><br><br>
  </body>
</html>