<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Wellcome to Battleship</title>
  </head>
  <body>
    <h1>Wellcome to Battleship</h1>
    <p>Links:<br><br>
      <a href="http://localhost:9000/about">Go to the about Site</a><br><br>
      <a href="http://localhost:9000/battleshipConsoleOutput">Go to the Batlleship Game (console output)</a><br><br>
      <a href="http://localhost:9000/battleshipHTML">Go to the BatlleshipHTML Game (HTML output)</a><br><br>
      <a href="http://localhost:9000/test">Go to the TEST Site</a><br><br>

      <a href="http://localhost:9000">Go to the index Site</a><br><br>
    </p>

  </body>
</html>