@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        @* favicon *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @* CSS *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/battleship.css")">
        @* Bootstrap CSS *@
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")" >
        <script src="@routes.Assets.versioned("javascripts/jquery-3.6.0.min.js")" ></script>


    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content.
        <script src=@{"https://unpkg.com/vue@3.2.24"}></script>
        <script src=@{"https://unpkg.com/vue@2.6.14"}></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>        *@
        @* vue *@
        <script src="@routes.Assets.versioned("javascripts/vue3.js")" ></script>

        @content

        @* javaScript *@
        <script src="@routes.Assets.versioned("javascripts/battleship.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/battleshipVue.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")" ></script>
    </body>
</html>